@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Thin/Unigeo32-Thin.otf');
    src: url('/resources/Fonts/UNIGEO32/Thin/Unigeo32-Thin.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Thin/Unigeo32-Thin.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Thin/Unigeo32-Thin.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Thin/Unigeo32-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Thin/Unigeo32-ThinItalic.otf');
    src: url('/resources/Fonts/UNIGEO32/Thin/Unigeo32-ThinItalic.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Thin/Unigeo32-ThinItalic.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Thin/Unigeo32-ThinItalic.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Thin/Unigeo32-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Extralight/Unigeo32-Extralight.otf');
    src: url('/resources/Fonts/UNIGEO32/Extralight/Unigeo32-Extralight.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Extralight/Unigeo32-Extralight.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Extralight/Unigeo32-Extralight.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Extralight/Unigeo32-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Extralight/Unigeo32-ExtralightItalic.otf');
    src: url('/resources/Fonts/UNIGEO32/Extralight/Unigeo32-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Extralight/Unigeo32-ExtralightItalic.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Extralight/Unigeo32-ExtralightItalic.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Extralight/Unigeo32-ExtralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Light/Unigeo32-Light.otf');
    src: url('/resources/Fonts/UNIGEO32/Light/Unigeo32-Light.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Light/Unigeo32-Light.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Light/Unigeo32-Light.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Light/Unigeo32-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Light/Unigeo32-LightItalic.otf');
    src: url('/resources/Fonts/UNIGEO32/Light/Unigeo32-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Light/Unigeo32-LightItalic.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Light/Unigeo32-LightItalic.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Light/Unigeo32-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Regular/Unigeo32-Regular.otf');
    src: url('/resources/Fonts/UNIGEO32/Regular/Unigeo32-Regular.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Regular/Unigeo32-Regular.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Regular/Unigeo32-Regular.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Regular/Unigeo32-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Regular/Unigeo32-Italic.otf');
    src: url('/resources/Fonts/UNIGEO32/Regular/Unigeo32-Italic.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Regular/Unigeo32-Italic.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Regular/Unigeo32-Italic.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Regular/Unigeo32-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Medium/Unigeo32-Medium.otf');
    src: url('/resources/Fonts/UNIGEO32/Medium/Unigeo32-Medium.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Medium/Unigeo32-Medium.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Medium/Unigeo32-Medium.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Medium/Unigeo32-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Medium/Unigeo32-MediumItalic.otf');
    src: url('/resources/Fonts/UNIGEO32/Medium/Unigeo32-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Medium/Unigeo32-MediumItalic.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Medium/Unigeo32-MediumItalic.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Medium/Unigeo32-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Semibold/Unigeo32-Semibold.otf');
    src: url('/resources/Fonts/UNIGEO32/Semibold/Unigeo32-Semibold.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Semibold/Unigeo32-Semibold.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Semibold/Unigeo32-Semibold.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Semibold/Unigeo32-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Semibold/Unigeo32-SemiboldItalic.otf');
    src: url('/resources/Fonts/UNIGEO32/Semibold/Unigeo32-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Semibold/Unigeo32-SemiboldItalic.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Semibold/Unigeo32-SemiboldItalic.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Semibold/Unigeo32-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Bold/Unigeo32-Bold.otf');
    src: url('/resources/Fonts/UNIGEO32/Bold/Unigeo32-Bold.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Bold/Unigeo32-Bold.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Bold/Unigeo32-Bold.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Bold/Unigeo32-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Bold/Unigeo32-BoldItalic.otf');
    src: url('/resources/Fonts/UNIGEO32/Bold/Unigeo32-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Bold/Unigeo32-BoldItalic.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Bold/Unigeo32-BoldItalic.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Bold/Unigeo32-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-Extrabold.otf');
    src: url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-Extrabold.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-Extrabold.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-Extrabold.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-ExtraboldItalic.otf');
    src: url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-ExtraboldItalic.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-ExtraboldItalic.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-Extrabold.otf');
    src: url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-Extrabold.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-Extrabold.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-Extrabold.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-Extrabold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-ExtraboldItalic.otf');
    src: url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
         url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-ExtraboldItalic.woff2') format('woff2'),
         url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-ExtraboldItalic.woff') format('woff'),
         url('/resources/Fonts/UNIGEO32/Extrabold/Unigeo32-ExtraboldItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
