@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/xwjgbf952ossnlfgbxfry/Unigeo32-Thin.otf?rlkey=w1dwzko1qi4h3cg5tj7y34tnq&st=3gube20g&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/g5wrh8pbeqo0xx7x4v2bh/Unigeo32-Thin.eot?rlkey=hwh21mgzuvy3gf18yka5b19o1&st=rptxgc4v&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/mdykbkzf0tav4vz038ijv/Unigeo32-Thin.woff2?rlkey=vnnmpud2y0y7hhz2gbepxopsn&st=4nlgc8db&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/61buoampfkfbd614r1kqb/Unigeo32-Thin.woff?rlkey=jobytykiytxd730sewovkry09&st=yp091e2n&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/tg1attgzxyv81m5c6naox/Unigeo32-Thin.ttf?rlkey=nkjd7ct255g7y01m56sdelmmg&st=oao5c3sb&dl=0') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/h0zkd8pzng0tmd4f1tegm/Unigeo32-ThinItalic.otf?rlkey=0x2estr21ruhpeii1i6xzpazo&st=iu8qe9y3&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/mnhkcwypisdfh4due43vx/Unigeo32-ThinItalic.eot?rlkey=bbzvh21wi1gmxuffrt8tzy4ih&st=4f1k2rrm&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/a3ti80dvx61r5tonq7o10/Unigeo32-ThinItalic.woff2?rlkey=vpw6ak84kcr372khps3hs4kqa&st=aydft8nt&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/wq9t08t31bxd5mxh7okvf/Unigeo32-ThinItalic.woff?rlkey=mvdxgbk0pnttszixh69dwo8tp&st=hi38jsdi&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/to14x5vzign8b5obngbhm/Unigeo32-ThinItalic.ttf?rlkey=iajpoa4brht1bq97yp718vh1d&st=00jbt1fa&dl=0') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/l99i4fjh1za6f9pi6fnai/Unigeo32-Extralight.otf?rlkey=gz8s3nkegc4qzafhagw1kcswk&st=v7mzw5ck&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/xnxih42objkgomvhu2ui7/Unigeo32-Extralight.eot?rlkey=w5nwjpdm2ikxr3mdhmijvxhiv&st=8kvbsekq&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/5a0fqsv6pyfwyj0859fzs/Unigeo32-Extralight.woff2?rlkey=6nropzwn8v23z7y01cd2zc1rp&st=d2qrf5gy&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/77rlguzbgdgubueygij52/Unigeo32-Extralight.woff?rlkey=s93alklrj1zknhv3vxxlhifse&st=y7kbw081&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/ecgb1byl6cuvx1k1g5klz/Unigeo32-Extralight.ttf?rlkey=dy4b3dwnh79uhqwwwcahu6f4k&st=mhvn4mpy&dl=0') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/b35ch34khrani2293qly8/Unigeo32-ExtralightItalic.otf?rlkey=0vlqyvqel8ctoyyy8isa3pr2c&st=04qnb6dq&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/abkyod9s6sm6eagjanqth/Unigeo32-ExtralightItalic.eot?rlkey=dfkpdnj2au5ip6dskoztgv9oa&st=72yf6nc2&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/4tr0mc8zv8ferkzq60d5o/Unigeo32-ExtralightItalic.woff2?rlkey=kynpa5wqc4tm0bfy8v9ugie20&st=c3yatfdm&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/qryja9hxxm9pfjp4x0xbg/Unigeo32-ExtralightItalic.woff?rlkey=vj2zfn89eddcby3qdi12nqjds&st=ukn67qjz&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/2ntara4eetmpez198jghw/Unigeo32-ExtralightItalic.ttf?rlkey=s04etvstfdk46ycqarzw932u3&st=dgvn7u34&dl=0') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/997k319gud2h0yroc80hi/Unigeo32-Light.otf?rlkey=vz12v8tod9mmva1v8k79s6swc&st=i40yy6dr&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/uennw0hgim80ozgomkzx1/Unigeo32-Light.eot?rlkey=537s0sno7jty3d8n8br8zww3l&st=o48me2ti&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/me68zuvj7en9z29rjnkjs/Unigeo32-Light.woff2?rlkey=rniujp2laarnta2myv2prpgbz&st=7w49p0ti&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/iixzznwnyd4phhwm74zb4/Unigeo32-Light.woff?rlkey=tprwwrzx3zilpjgtlf83k2670&st=u5rx22c1&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/4smemxrk4vn4wsd8idfo7/Unigeo32-Light.ttf?rlkey=zf860p39f3zyi2x3dx5k994x5&st=9vhal2uj&dl=0') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/2ol2eflo22pvtwxi2a8w6/Unigeo32-LightItalic.otf?rlkey=xp5o3dyu85wc8gnbwcg8fh6g2&st=fsys6re0&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/duci17bfn7jge9b5he3lh/Unigeo32-LightItalic.eot?rlkey=6kwdwmk4j9lr1t5l0gwyzzvjy&st=uv27xagm&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/qskf8ftmp9tz01zlpupcm/Unigeo32-LightItalic.woff2?rlkey=pqn5wk9vcloteunaghjttl6lu&st=g4hkkscb&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/4ymw6chrmcn8aq8nd5znl/Unigeo32-LightItalic.woff?rlkey=agp3haubqe15n7yqic4at1mgp&st=p1dhxgcb&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/tp72po3j6h3tbzb19mhq9/Unigeo32-LightItalic.ttf?rlkey=ye08iuu9ee47r83vr0l0ld6m5&st=3jmha8bu&dl=0') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/iecqsr025stltxycod1bv/Unigeo32-Regular.otf?rlkey=b6803zeo4f4oxvmqmom1gbvqm&st=vh4bk9pp&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/7cr9v37m8vujdnapl6omk/Unigeo32-Regular.eot?rlkey=aznnqagz3x62hxkskv5wbzwvh&st=13x68jbz&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/dijs2z2lv5nxn2yz5e9lp/Unigeo32-Regular.woff2?rlkey=0hjlpaslqf80zkto4291su9yn&st=t5hmp6df&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/pxcy3yuvqsnscdka7kl5v/Unigeo32-Regular.woff?rlkey=ifjv4b0gsrxu3kgjynpsdx8ky&st=n9lcwswl&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/qmzphs7tb28l4k75h2s5d/Unigeo32-Regular.ttf?rlkey=wxscouuklfh8zzd2rcztbowb8&st=4ri4onuy&dl=0') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/swwamrx3jx1mytex8qulv/Unigeo32-Italic.otf?rlkey=0qx88mp5s852t1lb8r5ozw49x&st=zyafogay&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/ekz7hxz8yiom0csglcfg8/Unigeo32-Italic.eot?rlkey=a9yo958w7yw2s0q7hlt0b45cw&st=t3zl6hc6&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/tvqfo4jvtccwo4r0fkogg/Unigeo32-Italic.woff2?rlkey=uhqwzmiqlcsih2e8cde0qcavu&st=pk90h657&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/jwr0y1s8h93q1it66avki/Unigeo32-Italic.woff?rlkey=ehfjocdg1z11mapmrm5gmagf1&st=mjj8awcj&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/3nkx0rnbz1iv3fc7pbevr/Unigeo32-Italic.ttf?rlkey=48hiu3rc7k4wni6bx8nu228ud&st=wqbgf8oh&dl=0') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/a4va54ec19qgun14eikje/Unigeo32-Medium.otf?rlkey=mdenkdp0itgqcg9slcvuorowz&st=w3rishzx&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/cjf29t87nt4at9xmkh4sj/Unigeo32-Medium.eot?rlkey=ncwyhd0oi0gjuuax1sak734u8&st=b5xhvfko&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/1qj1drohixpxsktys2vep/Unigeo32-Medium.woff2?rlkey=9z5dys5lpc16x013qodcpeh0f&st=v95xtzsp&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/d5oxvogu2zvqo2us717qb/Unigeo32-Medium.woff?rlkey=a4hz1di4wn1vxatw35hdm79cr&st=aoyh319j&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/l3r0m6eqft8czqntjepcg/Unigeo32-Medium.ttf?rlkey=3yytrhbxvll4uqlqo2i82r764&st=55deq27o&dl=0') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/adnxj6xt5xgbogh0g7b89/Unigeo32-MediumItalic.otf?rlkey=ms81j0llpdppci7r6955xpc9g&st=m8k7x52m&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/v6pfntt897ymbh815upas/Unigeo32-MediumItalic.eot?rlkey=ec765tnrdmqbc500ave8zrt3y&st=vbq4y8ge&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/pj53v1i2b5tta7ybkpcov/Unigeo32-MediumItalic.woff2?rlkey=m6v6qfofdcakeb127d1x6pt96&st=xtad0gnb&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/y4z58h0dfzmbbk0ddmmr6/Unigeo32-MediumItalic.woff?rlkey=i09vn0xf9kkbm46nyxpwvwsnm&st=xmaefblv&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/gqn8skwlbj49pj92ljdw3/Unigeo32-MediumItalic.ttf?rlkey=z7vojuwccef7sdvhc9z3unbla&st=ezx2uc2n&dl=0') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/e5vlb0et64b4ps562ktoi/Unigeo32-Semibold.otf?rlkey=6b6k5txi9gefnmwo38m0zokgb&st=i694rf8w&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/yo2wgyu5i0f0k191f5h1j/Unigeo32-Semibold.eot?rlkey=1qcva8xx80knyopkwrdskiwbe&st=9etltjsz&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/e11ylbj8u1v6hh8hzbc74/Unigeo32-Semibold.woff2?rlkey=nhh1q41pinegz3y2rf1sw4gxw&st=32gv5fht&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/kjn2eu41rzwinual3uogr/Unigeo32-Semibold.woff?rlkey=lmypgulogbdqgiaya3a536ih8&st=z7mh40zt&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/733q1bvdjd78a9vo1g7j5/Unigeo32-Semibold.ttf?rlkey=yddsho5yhepc5q0lhiu8j7mai&st=v94nuoy6&dl=0') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/drsqs00huipys17snxois/Unigeo32-SemiboldItalic.otf?rlkey=qwz14wk519ccp9tjq02uv7w95&st=qimwaced&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/ow3z6nfztwvi2nsowpf11/Unigeo32-SemiboldItalic.eot?rlkey=1ty9ycap0jkl1tichdok9dz4s&st=h1hxe83n&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/4gu4n4tumdwks1ztzgyjg/Unigeo32-SemiboldItalic.woff2?rlkey=9gqgy6obbjen33uyz1v3i71tb&st=q2rk1c7w&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/asqouo4orqt8gcudlpi57/Unigeo32-SemiboldItalic.woff?rlkey=kyeoq3ayrplkhwaxfjr4i1ms0&st=jvgeqa35&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/zh7tod34e4i3iz8kn9hpl/Unigeo32-SemiboldItalic.ttf?rlkey=vcmyroxxy8g346ujlgnwip9q5&st=s2huhvq8&dl=0') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/mw4112u2wu9g5g1ig3vw3/Unigeo32-Bold.otf?rlkey=wv01x0t4u77mpc8d91rhnvuuy&st=gsi1fbs9&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/x2tjkobyf8e7lz3p8i1br/Unigeo32-Bold.eot?rlkey=xrv88rbzvdw3buc1fvt8mi2mg&st=r0jttxu1&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/kmztjd3yjzdno1vmbvy1y/Unigeo32-Bold.woff2?rlkey=b2choxdhjcsd9jk1culjzzcg9&st=gdkubtke&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/1g8gfwg1uquycz1z6h8pp/Unigeo32-Bold.woff?rlkey=rvgupwacp22elkgptnykzt30i&st=t4uckdn0&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/zrcp20rieljt3m8rzzi00/Unigeo32-Bold.ttf?rlkey=kiepqwb43nuu7qctbuoepip1u&st=i2jmgtzw&dl=0') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/b7ethme3gsmz2yvoclhno/Unigeo32-BoldItalic.otf?rlkey=85vjuhqhhiuizhhx1gcbvru7x&st=4qgr4ro8&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/z839yw0319nmq3jwshten/Unigeo32-BoldItalic.eot?rlkey=cu3lidd07tmsolxe5jc2yw9m3&st=e52ijncw&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/feq7gieq0ign0g7sf1fh8/Unigeo32-BoldItalic.woff2?rlkey=oqcpkw2slfvn21argmii1995x&st=04u7yuyg&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/zfp6w78kza7ht2u5n6eef/Unigeo32-BoldItalic.woff?rlkey=e4n4p2pha60xr1s0hz9ha7h9j&st=lmy2ss07&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/yuyrdqqq05sw81olcahit/Unigeo32-BoldItalic.ttf?rlkey=jb4zomzgpvhxyejf7rhe6n9yl&st=d8wr8gc1&dl=0') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/4otwsczn2rwux1gkw5ca1/Unigeo32-Extrabold.otf?rlkey=8b65sa0s4fjx8beyt8q4qy3q5&st=hvp2uqli&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/30ocwqx6tkb39dbaun46k/Unigeo32-Extrabold.eot?rlkey=ygg50ei49u4cqsyzor2aen2qy&st=j74zshch&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/3avbsdv8zmyryv3zdopgb/Unigeo32-Extrabold.woff2?rlkey=mxndndnprqw3otja9kgafk47j&st=p3rh8hi5&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/5h1csk2zqyjqo41zlis1u/Unigeo32-Extrabold.woff?rlkey=1f63j4xqrzyl965v4nohmz5nd&st=6776n5pu&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/vd03g7qns73fws17jmb59/Unigeo32-Extrabold.ttf?rlkey=jr3x5kgo360pt7o72rieph8ad&st=1d9kqy5p&dl=0') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/6kg5n4pl2aa2g13qz4w8p/Unigeo32-ExtraboldItalic.otf?rlkey=xtyi98troqjku5wwufaz4uqit&st=3k4xaid3&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/06uwv67nkfayeggpsh83h/Unigeo32-ExtraboldItalic.eot?rlkey=nyw6xd84frt828rtzm8prr3hq&st=rbrwsh51&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/zkk82my0qro32qn4nueop/Unigeo32-ExtraboldItalic.woff2?rlkey=szcvebg9iwsc3plxmnh078g9u&st=xwhmrrx0&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/3mevq61w7ake108cft2ma/Unigeo32-ExtraboldItalic.woff?rlkey=54bcqwlv33j07a5mpxqz61glg&st=9rktvbhc&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/x88fih6r8c0g62gm79p6x/Unigeo32-ExtraboldItalic.ttf?rlkey=2as7c5qyhj0fmssk4r8pvk816&st=so4jjh5u&dl=0') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/4otwsczn2rwux1gkw5ca1/Unigeo32-Extrabold.otf?rlkey=8b65sa0s4fjx8beyt8q4qy3q5&st=hvp2uqli&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/30ocwqx6tkb39dbaun46k/Unigeo32-Extrabold.eot?rlkey=ygg50ei49u4cqsyzor2aen2qy&st=j74zshch&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/3avbsdv8zmyryv3zdopgb/Unigeo32-Extrabold.woff2?rlkey=mxndndnprqw3otja9kgafk47j&st=p3rh8hi5&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/5h1csk2zqyjqo41zlis1u/Unigeo32-Extrabold.woff?rlkey=1f63j4xqrzyl965v4nohmz5nd&st=6776n5pu&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/vd03g7qns73fws17jmb59/Unigeo32-Extrabold.ttf?rlkey=jr3x5kgo360pt7o72rieph8ad&st=1d9kqy5p&dl=0') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Unigeo32';
    src: url('//dl.dropboxusercontent.com/scl/fi/6kg5n4pl2aa2g13qz4w8p/Unigeo32-ExtraboldItalic.otf?rlkey=xtyi98troqjku5wwufaz4uqit&st=3k4xaid3&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/06uwv67nkfayeggpsh83h/Unigeo32-ExtraboldItalic.eot?rlkey=nyw6xd84frt828rtzm8prr3hq&st=rbrwsh51&dl=0?#iefix') format('embedded-opentype'),
        url('//dl.dropboxusercontent.com/scl/fi/zkk82my0qro32qn4nueop/Unigeo32-ExtraboldItalic.woff2?rlkey=szcvebg9iwsc3plxmnh078g9u&st=xwhmrrx0&dl=0') format('woff2'),
        url('//dl.dropboxusercontent.com/scl/fi/3mevq61w7ake108cft2ma/Unigeo32-ExtraboldItalic.woff?rlkey=54bcqwlv33j07a5mpxqz61glg&st=9rktvbhc&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/x88fih6r8c0g62gm79p6x/Unigeo32-ExtraboldItalic.ttf?rlkey=2as7c5qyhj0fmssk4r8pvk816&st=so4jjh5u&dl=0') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
