@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla Thin/Arcilla-Thin.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla Thin/Arcilla-Thin.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla Thin/Arcilla-Thin.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla Thin/Arcilla-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla Thin/Arcilla-ThinItalic.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla Thin/Arcilla-ThinItalic.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla Thin/Arcilla-ThinItalic.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla Thin/Arcilla-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla ExtraLight/Arcilla-ExtraLight.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla ExtraLight/Arcilla-ExtraLight.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla ExtraLight/Arcilla-ExtraLight.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla ExtraLight/Arcilla-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla ExtraLight/Arcilla-ExtraLightItalic.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla ExtraLight/Arcilla-ExtraLightItalic.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla ExtraLight/Arcilla-ExtraLightItalic.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla ExtraLight/Arcilla-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla Light/Arcilla-Light.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla Light/Arcilla-Light.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla Light/Arcilla-Light.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla Light/Arcilla-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla Light/Arcilla-LightItalic.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla Light/Arcilla-LightItalic.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla Light/Arcilla-LightItalic.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla Light/Arcilla-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla Regular/Arcilla-Regular.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla Regular/Arcilla-Regular.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla Regular/Arcilla-Regular.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla Regular/Arcilla-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla Regular/Arcilla-Italic.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla Regular/Arcilla-Italic.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla Regular/Arcilla-Italic.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla Regular/Arcilla-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla Medium/Arcilla-Medium.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla Medium/Arcilla-Medium.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla Medium/Arcilla-Medium.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla Medium/Arcilla-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla Medium/Arcilla-MediumItalic.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla Medium/Arcilla-MediumItalic.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla Medium/Arcilla-MediumItalic.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla Medium/Arcilla-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla SemiBold/Arcilla-SemiBold.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla SemiBold/Arcilla-SemiBold.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla SemiBold/Arcilla-SemiBold.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla SemiBold/Arcilla-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla SemiBold/Arcilla-SemiBoldItalic.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla SemiBold/Arcilla-SemiBoldItalic.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla SemiBold/Arcilla-SemiBoldItalic.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla SemiBold/Arcilla-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla Bold/Arcilla-Bold.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla Bold/Arcilla-Bold.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla Bold/Arcilla-Bold.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla Bold/Arcilla-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla Bold/Arcilla-BoldItalic.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla Bold/Arcilla-BoldItalic.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla Bold/Arcilla-BoldItalic.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla Bold/Arcilla-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla ExtraBold/Arcilla-ExtraBold.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla ExtraBold/Arcilla-ExtraBold.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla ExtraBold/Arcilla-ExtraBold.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla ExtraBold/Arcilla-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla ExtraBold/Arcilla-ExtraBoldItalic.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla ExtraBold/Arcilla-ExtraBoldItalic.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla ExtraBold/Arcilla-ExtraBoldItalic.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla ExtraBold/Arcilla-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla Black/Arcilla-Black.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla Black/Arcilla-Black.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla Black/Arcilla-Black.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla Black/Arcilla-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('/resources/Fonts/ARCILLA/Arcilla Black/Arcilla-BlackItalic.otf');
    src: url('/resources/Fonts/ARCILLA/Arcilla Black/Arcilla-BlackItalic.ttf') format('truetype'),
         url('/resources/Fonts/ARCILLA/Arcilla Black/Arcilla-BlackItalic.woff') format('woff'),
         url('/resources/Fonts/ARCILLA/Arcilla Black/Arcilla-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
