@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/y9jimsy0uu3dnxfy0crmj/Arcilla-Thin.otf?rlkey=p94m0rau2dwugo1ffbctau03c&st=veb9bsnq&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/h3m1cqrgmft8vm2uavtl3/Arcilla-Thin.ttf?rlkey=awxh7y67cta9viedr495ey6mh&st=ea8d9arr&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/42orpoz8f3s5tahzbdo82/Arcilla-Thin.woff?rlkey=4q9gt7s1wdcb967198ey2kso9&st=b8eme3j2&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/3xflgt8a6s4tjpnra755j/Arcilla-Thin.woff2?rlkey=h4q8kk9mhlfb0yqsgm4mw84ti&st=tof78to9&dl=0') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/8gh3hatk0bsxz9szd91zw/Arcilla-ThinItalic.otf?rlkey=7azunk013sdoycaizqvqkods1&st=5vuh5xpv&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/t37b1c05iph0cfczi3buu/Arcilla-ThinItalic.ttf?rlkey=u9fo87yku8u1991tagpk9orp2&st=0mo5gycy&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/chy0d5l4ku8z1ixjj5kkb/Arcilla-ThinItalic.woff?rlkey=rvzbcabl1ae99jsub10zbstkk&st=95dtq14m&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/qxc0j6sli2ifoccyo6yi0/Arcilla-ThinItalic.woff2?rlkey=zvuzomartqjr2my0ngqx42vy4&st=gag6gtk4&dl=0') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/71nszvxtbiw97va9le939/Arcilla-ExtraLight.otf?rlkey=rok4l816vfzpqwcfus3x8r6b8&st=77uv5o04&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/ysvr3y6lw3l7d7tvkqq7a/Arcilla-ExtraLight.ttf?rlkey=vowtrxaa0ah4g2llxs2h0v5o3&st=bgip2d23&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/1qgm4uxkby62dgz7naazh/Arcilla-ExtraLight.woff?rlkey=nhmpjo03ufhaamhdb7pqgq3tz&st=uyh6xuck&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/56wsxkshq37s76qwihr1w/Arcilla-ExtraLight.woff2?rlkey=6bbrzmmxcevvl94x5w559raha&st=acv1buaz&dl=0') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/u8unhqje97x9ym1xr60z7/Arcilla-ExtraLightItalic.otf?rlkey=fzyicw7zth5ovvi0fuoay37oy&st=7ese8fml&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/lcnwib91ufw0kr9o332jz/Arcilla-ExtraLightItalic.ttf?rlkey=w4hjrdaz8f1m59lwrmbvb0szq&st=ns81lc2a&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/pebhr23o2redsvvzce2qe/Arcilla-ExtraLightItalic.woff?rlkey=rbwqkp6uo8fcccv3stilrns7i&st=sz78cy0a&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/gx9zlrbivring7wycdo0f/Arcilla-ExtraLightItalic.woff2?rlkey=qced5mymu9qesd9jddmzu5l3s&st=c7psvtrp&dl=0') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/uuwbugateyiszhwmtlppx/Arcilla-Light.otf?rlkey=7clv0iq62hj8vo8c6z2wd7zu0&st=hdgykj2t&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/b7rvxhaodntzpv20zfgnb/Arcilla-Light.ttf?rlkey=ynoqn19h6lbkx9f6f6or545wn&st=44kjubmz&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/rbyqk3e45tg9pwidco73j/Arcilla-Light.woff?rlkey=ifyb6ry82spfgt7xp2p1y0vql&st=b55gkfoc&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/8o2x0xte6h98l47gmm3uj/Arcilla-Light.woff2?rlkey=cz834tlcmcz3mp293nafs09wq&st=tr37gkfm&dl=0') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/470p1tf0mispgfo1i7had/Arcilla-LightItalic.otf?rlkey=l6z604tv8l4wrr31b5ojgn72y&st=sesacq52&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/l426n9ka6ozmouaf497lr/Arcilla-LightItalic.ttf?rlkey=7bbm2cfcogosbhsepyp0lhxlf&st=0mc0rvq5&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/28x6hv7jkc36fkaat1fmi/Arcilla-LightItalic.woff?rlkey=snzm9a9vu6zlf6cm571i3yq9u&st=b10917uv&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/8cunspgp890ct2ktjgokv/Arcilla-LightItalic.woff2?rlkey=pozt5u01xxt3ig9zuz01gx0pq&st=nxta8dv3&dl=0') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/cblp0h2lofakf8bkpy1pg/Arcilla-Regular.otf?rlkey=l6zez74uuppkfikr3t1439lij&st=a7n6eo21&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/4eeyh8652dhs9zkdk4v6v/Arcilla-Regular.ttf?rlkey=1v5t9b7l6prejthw8w447xnhp&st=d6s4odjv&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/56wvtrk7egpnis0v4silr/Arcilla-Regular.woff?rlkey=c7whldemhb16t3779e80bskv0&st=lshex6ge&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/946qvbkf9qfce6mhag5g7/Arcilla-Regular.woff2?rlkey=59a0vgmopptd441yeucw38atq&st=mikexb5p&dl=0') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/bb5uzn1s2dzjghxfdkxza/Arcilla-Italic.otf?rlkey=1t6mhttrpamc6gzapvorer4lw&st=j294x1sk&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/us12xuk19kj5vs5xyfkoc/Arcilla-Italic.ttf?rlkey=xyyze5yuapj67zb9vqp2lk84o&st=yh508y6x&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/o0zfsjgmwwgvz3x4ww1m6/Arcilla-Italic.woff?rlkey=iw6jb9wbs829i1yitne795u0x&st=7aq2hfp5&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/tw3um60wdv0li0jlkoq78/Arcilla-Italic.woff2?rlkey=bd4z9uy8b20zte3f1g2lxrv7u&st=09j8xl5i&dl=0') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/4mt83mtdoab1yxmrm03ef/Arcilla-Medium.otf?rlkey=g0ezy87qilcu70ibxn218g56t&st=5yhy91vh&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/oe6qr76ladql15zc91tq9/Arcilla-Medium.ttf?rlkey=g0ye9sp59n94utgpbjf0hv50m&st=gur9rsa8&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/mfoaxn8of95bmwq132vck/Arcilla-Medium.woff?rlkey=zrwh0f11a9am7tiw0be9qikqh&st=c39cwr7v&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/7kbnm60kl2y9ihr36vr2w/Arcilla-Medium.woff2?rlkey=0icrt34x073gw3c8u2i57bt8r&st=7g1u2ngy&dl=0') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/wp5chayn7c20idn8z946y/Arcilla-MediumItalic.otf?rlkey=3rdnur4tea9y6d439din1wqhg&st=b4ilz7wt&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/v6a2koriqhmmaxkxx6ynq/Arcilla-MediumItalic.ttf?rlkey=aqy23cjzdo4cm8odg4iqwpend&st=9x1jqiit&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/6gwon668237eqtldrr5p9/Arcilla-MediumItalic.woff?rlkey=9mawg4548rova81bnipxrnkjt&st=u68b2doj&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/sd0lfiguxnp3rho6j0ntf/Arcilla-MediumItalic.woff2?rlkey=pu4nzdm2yp98kz0vrkdim4vbz&st=gjgm2x1e&dl=0') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/7alxyalnyl4r4aijuwb27/Arcilla-SemiBold.otf?rlkey=unpkd2w7mfoj2m8oxtcctb3i1&st=7uy2ui6h&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/4os6owi050029epbksayy/Arcilla-SemiBold.ttf?rlkey=cngjwq9z7hyrcilczlnbttaz4&st=5iayxmep&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/v9ac28tzeug8gufdjcwpl/Arcilla-SemiBold.woff?rlkey=4g0izjg6tf2usuvrpjyzbmorx&st=y591n6fe&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/0u16nheatbjvtv808bf3r/Arcilla-SemiBold.woff2?rlkey=bs8bx44qoshmtzak5n9xr38sw&st=4lavgc04&dl=0') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/kwudykuk3da8de54ykgtb/Arcilla-SemiBoldItalic.otf?rlkey=x3m2322xg2fqh7dzafogbjiym&st=bfa5zyk6&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/10igul9s64u1xrnd95bsr/Arcilla-SemiBoldItalic.ttf?rlkey=c7wxr9vall1dy22azwko1u9hf&st=jl606175&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/eid5h9lng3q7i39r8pdrw/Arcilla-SemiBoldItalic.woff?rlkey=3u2i5uufn0saocn7iveh7l8pp&st=icy4eg8p&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/5ash6ztgautd23c65zpdh/Arcilla-SemiBoldItalic.woff2?rlkey=91hxve4c1hgcsi0vtvi77jikk&st=xg35h6mm&dl=0') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/cj1msg112zgc1bps2os6s/Arcilla-Bold.otf?rlkey=evoxdutn2miuzslzegcxtk45r&st=bs7wurh0&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/1myinqil2dbsgpwmrhlpe/Arcilla-Bold.ttf?rlkey=2w863goelz285i4gezx5huxrk&st=ht1z3szk&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/pqd636g681yglqmm82j8a/Arcilla-Bold.woff?rlkey=0ike784r3xufz963mtsueizxy&st=fdhsi34o&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/knmwk2qk9zowejbd4yags/Arcilla-Bold.woff2?rlkey=icj023gvoo1xavbmusq6se9tx&st=eqv04yio&dl=0') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/gqawcs69mwkgac6ewt6aa/Arcilla-BoldItalic.otf?rlkey=7f767gdn846mtw9ib1wd3rvqg&st=ewuyzcmr&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/fx79fct1xs2saaw33rjiz/Arcilla-BoldItalic.ttf?rlkey=mgjw9e8va1zi9id04f60dw2hw&st=ny73kodb&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/iqd2gbvfnx8mz5kd324ii/Arcilla-BoldItalic.woff?rlkey=h6agjnsbu3ntorlziv05vur6a&st=11lt5b8g&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/g214sd8cebujtxtlc8w2d/Arcilla-BoldItalic.woff2?rlkey=b7789g3oh541sup1akjzge9b9&st=olep463u&dl=0') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/9xh3ii5yizd7xr7frd7c9/Arcilla-ExtraBold.otf?rlkey=y8xkhuejzsc7a2escxggfsne6&st=8zgc70aw&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/xb7fgng3mktuni98dffkd/Arcilla-ExtraBold.ttf?rlkey=ciavkkzevd6quiefomlkiuj2h&st=qc4935e8&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/vw6m8l1lew9lg38kwult8/Arcilla-ExtraBold.woff?rlkey=de3nhvl3k5k6ye8dvovdl871d&st=waxxisy0&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/sgsbzjjjlgwiufl7mblvn/Arcilla-ExtraBold.woff2?rlkey=5k6hjvyo1sxwazjhn1c1nd3to&st=2q63e3zi&dl=0') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/sxvn3aekn3wr2mye0g4ao/Arcilla-ExtraBoldItalic.otf?rlkey=3i531idw142bq2gbut5lxfcip&st=4r1rgj6o&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/wo6km7anhyh9csgh164v6/Arcilla-ExtraBoldItalic.ttf?rlkey=6lhbtiwzpgliccd5fpbb97yne&st=i05piao6&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/3k3ptsupytxgt35f4l6w8/Arcilla-ExtraBoldItalic.woff?rlkey=yg4d9w5n3bq61bzyrgf7g05pa&st=dojslsn1&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/spbom6oy0q6tr8fkum3jz/Arcilla-ExtraBoldItalic.woff2?rlkey=86t61jy5swlni5orfzfgg34a2&st=k2bkxfx3&dl=0') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/h7mjms3adh1c87lvl7e2a/Arcilla-Black.otf?rlkey=xp4ptx4vdeq1bq6fecrkwi9yz&st=r5xlty5e&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/jjti3o55p3o2kg0fufyts/Arcilla-Black.ttf?rlkey=mboh9lh25mxen4l4ke3t3ngqe&st=oiwnjfib&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/2e3z838ik0546vgowquru/Arcilla-Black.woff?rlkey=zhv9dwaj3giae4bv99bt1sa3a&st=h1kl0t3m&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/w7crog44bhyh1onhs3gqf/Arcilla-Black.woff2?rlkey=ayh9zohwk8i6ktfomhfckp6s2&st=tp8ap7e8&dl=0') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('//dl.dropboxusercontent.com/scl/fi/8t9gssr7f2naijqca9yha/Arcilla-BlackItalic.otf?rlkey=vpqqqd6l396thrrgh0d6sziua&st=jqhayz1z&dl=0');
    src: url('//dl.dropboxusercontent.com/scl/fi/vu0wgmoosjq6keb3oyi94/Arcilla-BlackItalic.ttf?rlkey=vdv9z0yjbvzy4rpwzu4qbo6m2&st=5xrwzkrl&dl=0') format('truetype'),
        url('//dl.dropboxusercontent.com/scl/fi/wewy06uz0rwaxwmmv2mcc/Arcilla-BlackItalic.woff?rlkey=uatgn19kipsiutf1xcd5yjyci&st=4w9fr2os&dl=0') format('woff'),
        url('//dl.dropboxusercontent.com/scl/fi/tvczd9uvk2tx2vnan3r03/Arcilla-BlackItalic.woff2?rlkey=qluqlkfz655vmkyyhfauk48qk&st=7hpld3x7&dl=0') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}